[Desktop Entry]
Type=Clipboard
Path=/home/jiyuhang/git/clipboard/
Exec=/home/jiyuhang/git/clipboard/clipboard
Icon=/home/jiyuhang/git/clipboard/clipboard.icns
Type=Application

